@model IEnumerable<ASFront.ModelsView.clientsGroupDetView>

@{

    Layout = null;
}







    <div id="UpdateTargetClientsGroup">

        @{Html.RenderPartial("~/Views/clientsGroups/_ClientsGroupTable.cshtml", Model);}
    </div>

<div id="ClientsGroupPanelLoader" style="display:none;">

</div>



    <script>

        var ClArray = [];






       

        //$('.check-box').each(function () {
           
        //        alert(this.EditClientId);
        //});

       




    //$(document).ready(function () {
    //    $("#GroupAcraGet").on("click", function (e) {
    //        e.preventDefault();
    //        e.stopPropagation();



        function GroupAcraGetClick() {
           
            $('#GroupAcraGet').attr('disabled', 'disabled');
            $("#ClientsGroupPanelLoader").show();

         
           
           
            @*@{
                //List<long> ClList = new List<long>();
                foreach(var it in Model)
                    {
                //if (it.AcraRequestAllow)
                {
                    //ClList.Add(it.clientId);
                    @:myArray.push(@it.clientId);

         
                }
            }
            //long[] GMList = ClList.ToArray();

        }*@
            $.ajaxSettings.traditional = true;

            var data_to_send = ClArray;
                //jQuery.param(myArray);

          
            $.ajax({
                type: "POST",
                dataType: "json",
                //contentType: false,
                //processData: false,
                //type: "POST",
                //contentType: "application/json; charset=utf-8",
                //dataType: "html",

                traditional: true,
                //url: "/acra/ClientsGroup",

                url: "@(Url.RouteUrl("GetClientsGroupsAcra"))",

                //UpdateTargetId: "UpdateTargetClientsGroup",
                cache: false,
                data: {
                    EditClientId: @ViewBag.EditClientId,
                    GMList:     data_to_send,
                },
                success: function (response) {
                    ClArray = [];
                    $('#GroupAcraGet').attr('disabled', 'disabled');
                    $("#ClientsGroupPanelLoader").hide();
                    $('#UpdateTargetClientsGroup').html('');
                    $('#UpdateTargetClientsGroup').html(response.responseText);
                    //$('#UpdateTargetClientsGroup').html("Hello <b>world</b>!");
                     
                },
                failure: function (response) {
                    ClArray = [];
                    $('#GroupAcraGet').attr('disabled', 'disabled');
                    $("#ClientsGroupPanelLoader").hide();

                    //alert(response.responseText);
                    //$('#UpdateTargetClientsGroup').html(response);
                    //$('#UpdateTargetClientsGroup').html("Hello <b>world</b>! failure");
                },
                error: function (response) {
                    ClArray = [];
                    $('#GroupAcraGet').attr('disabled', 'disabled');
                    $("#ClientsGroupPanelLoader").hide();
                    //alert(response.responseText);
                    $('#UpdateTargetClientsGroup').html('');

                    $('#UpdateTargetClientsGroup').html(response.responseText);

                    }

            });


        };

        //);




        @*$("#GroupAcraGet").change(function () {

            $("#UpdateTargetClientsGroup").load('@(Url.Action("ClientsGroupByEditClientId", "clientsGroups", null, Request.Url.Scheme))?EditClientId=' + @ViewBag.EditClientId);
        });*@



    //});





    </script>
