@model ASFront.Models.clientsGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>clientsGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.releationType.relType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.releationType.relType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.clientsGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
