
@model ASFront.Models.Balance

<div id="tab24BalancePanel">
    <div class="form-group">
        @Html.LabelFor(model => model.Inventory, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Inventory, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
            @Html.ValidationMessageFor(model => model.Inventory, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            <button type="button" id="CalculateInventory" onclick="CalculateInventoryClick()" value="Հաշվարկել" name="CalculateInventory" class="btn btn-success btn-FullWidth">
                <span>

                    Հաշվարկել
                </span>


            </button>

        </div>
    </div>
</div>





<script>




    function CalculateInventoryClick() {

        $("#CalculateInventory span").html('<i class="fa fa-refresh fa-spin"></i>&ensp;Հաշվարկվում է ... ');




            $.ajax({
                type: "POST",
                dataType: "json",

                traditional: true,

                url: "@(Url.RouteUrl("CalculateInventory"))",
                cache: false,
                data: {
                     ApplicationID: @Model.applicationId,

                },
                success: function (response) {

                    $('#tab24BalancePanel').html('');
                    $('#tab24BalancePanel').html(response.responseText);


                },
                failure: function (response) {

                },
                error: function (response) {

                    $('#tab24BalancePanel').html('');

                    $('#tab24BalancePanel').html(response.responseText);

                    }

            });


        };





</script>
