@model IEnumerable<ASFront.Models.releationType>

@{
    ViewBag.Title = "Փոխկապակցվածությունների տեսակներ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Փոխկապակցվածությունների տեսակներ</h2>

<p>
    @Html.ActionLink("Ստեղծել նորը", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.relType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.relType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note2)
        </td>
        <td>
            @Html.ActionLink("Խմբագրել", "Edit", new { id=item.releationTypeId }) |
            @Html.ActionLink("Դիտել", "Details", new { id=item.releationTypeId }) 
        </td>
    </tr>
}

</table>
