
@model ASFront.ModelsView.IncomeExpensesViewModel



<section class="wrapper">


    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <h4>Եկամուտ-Ծախսի տվյալները</h4>
                <hr>
                @if (Model.Id > 0)
                {
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> Ամսաթիվ</th>

                                <th>
                                    @Html.DisplayFor(model => model.Date)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Հաճախորդի աշխատավարձ</b></td>
                                <td>
                                    @Html.DisplayFor(model => model.ClientsWage)
                                </td>

                            </tr>
                            <tr>
                                <td><b>Գյուղատնտեսական եկամուտներ</b></td>
                                <td>
                                    @Html.DisplayFor(model => model.AgroIncome)
                                </td>
                            </tr>
                            <tr>
                                <td><b>Գյուղատնտեսական ծախսեր</b></td>
                                <td>
                                    @Html.DisplayFor(model => model.AgroExpenses)
                                </td>
                            </tr>


                            <tr>
                                <td><b>Հասույթ</b></td>
                                <td>
                                    @Html.DisplayFor(model => model.Revenue)
                                </td>
                            </tr>

                            <tr>
                                <td><b>Ինքնարժեք</b></td>
                                <td>
                                    @Html.DisplayFor(model => model.CostOfGoodsSold)
                                </td>
                            </tr>

                            <tr>
                                <td><b>Համախառն շահույթ</b></td>

                                @if (Model.gross_profitNum > 0)
                                {
                                    <td>
                                        <span class="label label-info label-warning">
                                            @Html.DisplayFor(model => model.gross_profit)
                                        </span>
                                    </td>
                                }

                                else
                                {
                                    <td>
                                        <span class="label label-info label-danger">
                                            @Html.DisplayFor(model => model.gross_profit)
                                        </span>
                                    </td>
                                }



                            </tr>

                            <tr>
                                <td><b>Վերադիր</b></td>


                                @if (Model.OvergrownNum > 1.2)
                                {
                                    <td>
                                        <span class="label label-info label-default">
                                            @Html.DisplayFor(model => model.Overgrown)
                                        </span>
                                    </td>
                                }
                                else if (Model.OvergrownNum > 0 && Model.OvergrownNum <= 1.2)
                                {
                                    <td>
                                        <span class="label label-info label-danger">
                                            @Html.DisplayFor(model => model.Overgrown)
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-info label-default">
                                            -
                                        </span>
                                    </td>
                                }




                            </tr>

                            <tr>
                                <td><b>Վարձավճար</b></td>

                                <td>@Html.DisplayFor(model => model.Rent)</td>

                            </tr>
                            <tr>
                                <td><b>Տրանսպորտային ծախսեր</b></td>

                                <td>@Html.DisplayFor(model => model.TransportationCosts)</td>

                            </tr>
                            <tr>
                                <td><b>Կոմունալ վճարներ</b></td>
                                <td>@Html.DisplayFor(model => model.UtilityExpenses)</td>

                            </tr>

                            <tr>
                                <td><b>Աշխատավարձ</b></td>

                                <td>@Html.DisplayFor(model => model.Wage)</td>
                            </tr>

                            <tr>
                                <td><b>Այլ ծախսեր</b></td>

                                <td>@Html.DisplayFor(model => model.OtherExpenses)</td>
                            </tr>
                            <tr>
                                <td><b>Հարկեր</b></td>

                                <td>@Html.DisplayFor(model => model.Taxes)</td>

                            </tr>


                            <tr>

                                <td style="font-size: larger"><b>Զուտ շահույթ</b></td>



                                @if (Model.net_profitNum > 0)
                                {
                                    <td style="font-size: larger">
                                        <span class="label label-info label-warning">

                                            @Html.DisplayFor(model => model.net_profit)
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td style="font-size: xx-large">
                                        <span class="label label-info label-danger">

                                            @Html.DisplayFor(model => model.net_profit)
                                        </span>
                                    </td>
                                }



                            </tr>

                            <tr>
                                <td><b>Ընտանիքի անդամների աշխատավարձեր</b></td>

                                <td>@Html.DisplayFor(model => model.FamilyMembersWages)</td>

                            </tr>
                            <tr>
                                <td><b>Ընտանեկան այլ եկամուտներ</b></td>

                                <td>@Html.DisplayFor(model => model.OtherFamilyIncome)</td>

                            </tr>

                            <tr>
                                <td><b>Ընտանեկան ծախսեր</b></td>

                                <td>@Html.DisplayFor(model => model.FamilyExpenses)</td>

                            </tr>

                            <tr>
                                <td><b>Վարկային վճարներ/ծախսեր</b></td>

                                <td>@Html.DisplayFor(model => model.LoanInterestExpenses)</td>

                            </tr>

                            <tr>
                                <td><b>Ընտանիքի Վարկային/Տոկոսային ծախսեր</b></td>

                                <td>@Html.DisplayFor(model => model.FamilysLoanInterestExpenses)</td>

                            </tr>

                            <tr>
                                <td style="font-size: larger"><b>Տիրապետվող գումար</b></td>


                                @if (Model.net_incomeNum > 0)
                                {
                                    <td style="font-size: larger">
                                        <span class="label label-info label-warning">
                                            @Html.DisplayFor(model => model.net_income)
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td style="font-size: xx-large">
                                        <span class="label label-info label-danger">
                                            @Html.DisplayFor(model => model.net_income)
                                        </span>
                                    </td>
                                }




                            </tr>

                            <tr>
                                <td style="font-size: larger"><b>Ծածկման գործակից</b></td>

                                @if (Model.CoveringFactorNum > 1.6)
                                {


                                    <td style="font-size: larger">
                                        <span class="label label-info label-default">
                                            @Html.DisplayFor(model => model.CoveringFactor)
                                        </span>
                                    </td>
                                }

                                else if (Model.CoveringFactorNum > 0 && Model.CoveringFactorNum <= 1.3)
                                {

                                    <td style="font-size: xx-large">
                                        <span class="label label-info label-danger">
                                            @Html.DisplayFor(model => model.CoveringFactor)
                                        </span>
                                    </td>

                                }


                                else if (Model.CoveringFactorNum > 0 && Model.CoveringFactorNum <= 1.6)
                                {
                                    <td style="font-size: xx-large">
                                        <span class="label label-info label-warning">
                                            @Html.DisplayFor(model => model.CoveringFactor)
                                        </span>
                                    </td>
                                }

                                else
                                {
                                    <td style="font-size: larger">
                                        <span class="label label-info label-default">
                                            @Html.DisplayFor(model => model.CoveringFactor)
                                        </span>
                                    </td>

                                }


                            </tr>


                            <tr>
                                <td><b>Նշում 1</b></td>

                                <td> <span class="label label-info label-warning">@Html.DisplayFor(model => model.note1)</span></td>

                            </tr>
                            <tr>
                                <td><b>Նշում 2</b></td>

                                <td> <span class="label label-info label-warning">@Html.DisplayFor(model => model.note2)</span></td>

                            </tr>
                            <tr>
                                <td><b>Նշում 3</b></td>

                                <td> <span class="label label-info label-warning">@Html.DisplayFor(model => model.note3)</span></td>

                            </tr>


                        </tbody>
                    </table>



                }


                else
                {
                    <h3> <span class="btn btn-block btn-warning no-btn"> Դեռևս Եկամուտ-Ծախսի տվյալ մուտքագրված չէ: </span></h3>
                }










            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div><!-- /row -->

</section>
