@model ASFront.Models.Guarantors

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Guarantors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.applications.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applications.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clients.clientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clients.clientName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
