@model IEnumerable<ASFront.Models.MovableEstates>

@{
    ViewBag.Title = "Շարժական գույք";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Շարժական գույք</h2>

<p>
    @Html.ActionLink(Resources.Page.CreateNew, "Create", new { ApplicationID = ViewBag.ApplicationID }, null)


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovableEstateTypes.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Run)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotorPower)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovableEstateTypes.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Run)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotorPower)
        </td>

        <td>
            @Html.ActionLink(Resources.Page.Edit, "Edit", new { id = item.Id })

        </td>
    </tr>
}

</table>
