
@model ASFront.ModelsView.UniversalCreditApplicationViewModels
@using ASFront.Models
@{
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";

}





@using ASFront.Classes

<link href="@Url.Content("~/Content/bootstrap.css", true)" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/regular-checkbox.css", true)" rel="stylesheet" type="text/css" />


<style>
    li {
        padding-bottom: 12px;
    }

    .chkTopAlight {
        top: 16px;
        position: relative;
    }

    .tdhiegth {
        height: 15px;
    }

    .colordiv {
    background-color:lightgray !important; border:1px solid #000000; padding:8px; 
    }
</style>






<div style="height:7px;"></div>




<div style="left:20px; ">
    <img src='@Url.Content("~/img/SefLogoUniversal.jpg")' /><br />

</div>
<div style="height:20px;"></div>

<table style="width:100%;" class="pdftable">
    <tr>
        <td style="width:50%;">
            <div style="top:-25px; position:relative;">
                <p>© Հեղինակային իրավունք` "ՍԵՖ Ինտերնեյշնլ ՈւՎԿ" ՍՊԸ</p>
                <div style="height:20px;"></div>

                <p>Հեռախոս` @Model.BrPhone</p>
                <div style="height:45px;"></div>
                <p>Ձեռք բերման ամսաթիվը @Model.aprDateNameStr.</p>
            </div>

        </td>
        <td style="width:50%;">




            <table class="table table-striped table-bordered table-advance  table-Full">

                <tr>


                    <td>
                        <div style="padding:5px 0 5px 0">
                            Հաճախորդ  N  @Model.clientId
                        </div>

                    </td>
                </tr>
                <tr>


                    <td>
                        <div style="padding:5px 0 5px 0">

                            <p>
                                Հայտի N` @Model.ApplicationID
                            </p>
                            <div style="height:20px;"></div>
                            <p>
                                Վարկային մասնագետ`  @Model.CreditSpecialistName  
                            </p>
                        </div>

                    </td>
                </tr>

            </table>


        </td>
    </tr>

</table>




<br />


<div style="text-align:center;">
    <h3>
        Վ ա ր կ ա յ ի ն   &nbsp; դ ի մ ո ւ մ
    </h3>
</div>

<br />
@*<p>
    <b>
        "ՍԵՖ Ինտերնեյշնլ ՈՒՎԿ" ՍՊԸ-ն երաշխավորում է, որ Հաճախորդի կողմից կազմակերպությանը ներկայացված ամբողջ տեղեկատվությունը գաղտնի է և կօգտագործվի միայն սույն Հայտի վերաբերյալ որոշում ընդունելու նպատակով:
            Խնդրում ենք պատասխանել ԲՈԼՈՐ հարցերին ճիշտ և ամբողջովին: Ոչ ճշգրիտ տեղեկություններ տրամադրելու դեպքում մենք հնարավորություն չենք ունենա բավարարել Ձեր դիմումը:
    </b>
</p>*@


<div class="colordiv">
    I.	&nbsp; Ընդհանուր տեղեկություններ բիզնեսի մասին
</div>



<ol>
    <li>
        <p>

        <p>
            Դիմորդի անուն, ազգանուն, հայրանուն ` @Model.ClientName     Հեռ.՝ @Model.Phone
        </p>
        <p>
            Հասցե՝  @Model.Address
        </p>
        <p>
            Ընտանիքի անդամների քանակը ` @Model.fMemb, որից` @Model.fTenMemb երեխաներ են:
        </p>
        </p>





    </li>
    <li>
        <p>
            Գործունեության անվանումը ` ________________________________________  Աշխ. Հեռ._________________
        </p>
        <p>
            Հասցե՝ ________________________________________________________________________________________
        </p>

        <p>
            Ընդգրկված աշխատողների քանակը` _______, որից_______ ընտանիքի անդամներ են:
        </p>

    </li>
    <li>
        <div>
            Գործունեության տեսակը  և համառոտ նկարագրությունը ________________________________________________
        </div>


        <div style="height:18px;"></div>



        <table class="table table-striped table-bordered table-advance  table-Full">

            <tr>
                <th style="width:25%;">ՆՊԱՏԱԿ</th>
                <th style="width:5%;">ՔԱՆԱԿ</th>
                <th style="width:20%;">ԳՈՒՄԱՐ </th>
                <th style="width:25%;">ՆՊԱՏԱԿ</th>
                <th style="width:5%;">ՔԱՆԱԿ</th>
                <th style="width:20%;">ԳՈՒՄԱՐ </th>

            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>

                <td>4.</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>

                <td>5.</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>3.</td>
                <td></td>
                <td></td>

                <td>6.</td>
                <td></td>
                <td></td>
            </tr>


        </table>



    </li>


</ol>



<div class="colordiv">
    II.	&nbsp; Ընդհանուր տեղեկություններ պահանջվող վարկի վերաբերյալ
</div>



<br />




<ol start="4">


    <li>
        <p>
            <span style="padding-right:150px;">
                Պահանջվող վարկի տեսակ. @Model.productName
            </span>
            <span>
                Տարեկան  @Model.anualRate
            </span>
        </p>

    </li>

    <li>
        <p>
            Պահանջվող վարկի գումարը ` @Model.CreditTotalAmount   Վարկի մարման ժամկետը ` @Model.CreditTerm ամիս:         Դադար _________
        </p>





    </li>

</ol>


<div class ="colordiv" >
    III.	&nbsp; Ընկերության մասին տեղեկատվության աղբյուր
</div>





<div style="height:35px;"></div>

<hr class="pdfhr" />
<div style="text-align:center;">
    պարտադիր լրացման դաշտ
</div>
<div style="height:10px;"></div>


<div class="colordiv">
    IV.	&nbsp; Փոխկապակցվածություն
</div>
<br />

<ol>
    <li>
        <p>
            4.1. Ձեր կամ Ձեր ամուսնու/կնոջ հարազատներից որևէ մեկը աշխատո՞ւմ է "ՍԵՖ ինտերնեյշնլ ՈՒՎԿ" ՍՊԸ-ում `  այո ___   ոչ ____
        </p>

        <table class="table table-striped table-bordered table-advance  table-Full">
            <tr>
                <td>Անուն Ազգանուն Հայրանուն</td>
                <td style="width:30%;">
                    Փոխկապակցվածությունը 
                </td>
                <td style="width:30%;">
                    Զբաղեցրած պաշտոնը "ՍԵՖ Ինտերնեյշնլ ՈՒՎԿ" ՍՊԸ-ում
                </td>
            </tr>
            <tr style="height:30px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height:30px;">
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </li>
    <li>
        <p>
            4.2.	Ձեր կամ Ձեր ամուսնու/կնոջ հարազատներից որևէ մեկը հանդիսանո՞ւմ  է "ՍԵՖ ինտերնեյշնլ ՈՒՎԿ" ՍՊԸ-ի հաճախորդ՝  <br /> այո ___   ոչ ____
        </p>
        <table class="table table-striped table-bordered table-advance  table-Full">
            <tr>
                <td style="width:40%;">
                    Փոխկապակցվածությունը 
                </td>
                <td>
                    Անուն Ազգանուն Հայրանուն (հնարավորության դեպքում նաև անձնագրային տվյալները)
                </td>
            </tr>
            <tr style="height:30px;">
                <td></td>
                <td></td>
            </tr>
            <tr style="height:30px;">
                <td></td>
                <td></td>
            </tr>
        </table>
    </li>
</ol>



<div class="colordiv">
    1.	&nbsp; Հայտարարագիր
</div>
<div style="height:15px;"></div>

<ol>

    <li>
        1. Ես՝ @Model.ClientName, "ՍԵՖ Ինտերնեյշնլ ՈՒՎԿ" ՍՊԸ-ի հետ հաստատելով գործարար հարաբերություն, հայտարարում եմ, որ գործարար հարաբերության մեջ, բացի ներկայացված պաշտոնական փաստաթղթերում նշված շահառուներից, այլ իրական շահառու առկա չէ: Պարտավորվում եմ նաև գործարար հարաբերության ընթացքում իրական շահառուի փոփոխության կամ ի հայտ գալու դեպքում տեղյակ պահել Ձեզ:
    </li>
    <li>
        2. Ես` @Model.ClientName  երաշխավորում եմ, որ ծանոթացել եմ "ՍԵՖ Ինտերնեյշնլ ՈՒՎԿ" ՍՊԸ-ի վարկավորման պայմաններին և ծառայությունների տեղեկատվական ամփոփագրին և անվերապահորեն ընդունում եմ դրանք:

</li>

    <li>
        3. Սույնով ես տալիս եմ իմ համաձայնությունը վարկային պայմանագրի գործողության ընթացքում կրեդիտավորման պայմանագրից բխող սպառողի պարտավորությունների և դրանց առաջացման հիմքերի և մարումների վերաբերյալ գրավոր տեղեկատվության, այդ թվում՝ սպառողի կողմից իմ պարտավորությունները չկատարելու կամ ոչ պատշաճ կատարելու համար կրեդիտավորողի կողմից կիրառվող կամ կիրառված պատասխանատվության միջոցների (տուժանքի կամ սպառողի վիճակը վատթարացնող ցանկացած այլ միջոցների) սպառիչ ցանկի, դրանց կիրառման դեպքերն ու կարգի մասին տեղեկանալ վարկային կազմակերպության ցանկացած մասնաճյուղում կամ վարկային կազմակերպության www.report.sef.am ինտերնետային կայքի Իմ անձնական էջում:
    </li>
    <li>
        4. Սույնով ես տալիս եմ իմ համաձայնությունը վարկային պայմանագրի գործողության ընթացքում վարկի անվանական տոկոսադրույքի,  կողմերի միջև հաղորդակցման կարգի, ծառայության ընդհանուր պայմանների և այլ վճարների, կողմերի` պայմանագրից բխող իրավունքների, պարտականությունների կամ պատասխանատվության վրա ուղղակի ազդեցություն ունեցող այլ հանգամանքների փոփոխության և իրավական ակտերի այն փոփոխությունների մասին, որոնք ուղղակի ազդեցություն ունեն հաճախորդի՝ պայմանագրով սահմանված իրավունքների և պարտականությունների վրա՝ տեղեկանալ վարկային կազմակերպության ցանկացած մասնաճյուղում կամ վարկային կազմակերպության www.report.sef.am ինտերնետային կայքի Իմ անձնական էջում:
    </li>
    <li>
        5. Սույնով տալիս եմ իմ համաձայնությունը, որպեսզի “ՍԵՖ Ինտերնեյշնլ Ունիվերսալ Վարկային Կազմակերպություն” ՍՊԸ-ի կողմից հարցում կատարվի “ԱՔՌԱ Քրեդիտ Ռեփորթինգ” ՓԲԸ-ին և վերջինիս խնդրում եմ “ՍԵՖ Ինտերնեյշնլ Ունիվերսալ  Վարկային Կազմակերպություն” ՍՊԸ-ին տրամադրել իմ ներկա և անցյալ ֆինանսական պարտավորությունների վերաբերյալ տեղեկություններ, ինչպես նաև այլ տվյալներ, որոնք “ՍԵՖ Ինտերնեյշնլ Ունիվերսալ Վարկային Կազմակերպություն” ՍՊԸ-ի կողմից կարող են հաշվի առնվել ինձ հետ վարկային (փոխառության և այլն) պայմանագիր կնքելու վերաբերյալ որոշում կայացնելիս: Ինչպես նաև տալիս եմ իմ համաձայնությունը, որպեսզի “ՍԵՖ Ինտերնեյշնլ Ունիվերսալ Վարկային Կազմակերպություն” ՍՊԸ-ի կողմից վարկային (փոխառության և այլն) պայմանագիր կնքելու դեպքում տվյալ վարկային (փոխառության և այլն) պայմանագրի գործողության ողջ ընթացքում ցանկացած պահին առանց ինձ նախապես տեղյակ պահելու “ԱՔՌԱ Քրեդիտ Ռեփորթինգ” ՓԲԸ-ն “ՍԵՖ Ինտերնեյշնլ Ունիվերսալ Վարկային Կազմակերպություն” ՍՊԸ-ին տրամադրի իմ ապագա ֆինանսական պարտավորությունների վերաբերյալ տեղեկություններ, ինչպես նաև այլ տվյալներ: Գիտակցում եմ, որ տրամադրված տեղեկությունները և տվյալները, կախված դրանց բովանդակությունից կարող են ազդել “ՍԵՖ Ինտերնեյշնլ Ունիվերսալ Վարկային Կազմակերպություն” ՍՊԸ-ի կողմից կայացված համապատասխան որոշման վրա:
    </li>
    <li>
        6. Ես հասկանում եմ, որ դիմումի համար վճարումը ոչ մի կերպ չի ապահովում վարկի հաստատումը և այն հետ չի վերադարձվում:
    </li>

    <li>

        7. Ես` @Model.ClientName, հավաստում եմ, որ դիմումն ամբողջական կարդացել եմ և հաստատում եմ, որ այն ինձ համար ամբողջությամբ հասկանալի և ընդունելի է: Ես հավաստում եմ, որ  հանդիսանում եմ լրիվ գործունակ անձ, և սույն դիմումում ընդգրկված հարցերին պատասխանել եմ ճիշտ:
    </li>


</ol>

<div>

    <div style="border:1px solid #000000;padding:7px;position:relative; ">


        <table style="width:100%;" class="pdftable">
            <tr>
                <td colspan="3">
                    <div style="height:15px;"></div>
                </td>

            </tr>
            <tr>
                <td class="tdmiddle">_____________________________</td>
                <td class="tdmiddle">____________________________________________</td>
                <td class="tdmiddle">________________________</td>
            </tr>
            <tr>
                <td class="tdmiddle">Ստորագրություն</td>
                <td class="tdmiddle">Անուն Ազգանուն</td>
                <td class="tdmiddle">Ամսաթիվ</td>
            </tr>

            <tr>
                <td colspan="3">
                    <div style="height:15px;"></div>
                </td>
            </tr>
        </table>
    </div>


</div>
@*<br />*@
@*<div style="height:20px;"></div>*@








