@using PagedList.Mvc;
@model PagedList.IPagedList<ASFront.ModelsView.ScoringScoreDecisionsView>

@{
    ViewBag.Title = "Գնահատման որոշումներ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Պրոդուկտի գնահատման որոշումներ</h2>

<p>
    @Html.ActionLink(Resources.Page.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().minValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().maxValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Decision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decision)
        </td>
        <td>
            @Html.ActionLink(Resources.Page.Edit, "Edit", new { id=item.ID }) @*|*@
            @*@Html.ActionLink(Resources.Page.Details, "Details", new { id=item.ID }) |
            @Html.ActionLink(Resources.Page.Delete, "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
<br />


@Html.Partial("_Paging", Model)