@model ASFront.Models.ProductLimits

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductLimits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scoring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scoring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.App1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.App2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
