
<p>
   
    @Html.ActionLink("Ցուցիչներ", "", "ScoringIndicators", null, null) |
    @Html.ActionLink("Ֆորմուլա", "", "ScoringFormula", null, null) |
    @Html.ActionLink("Տեսակներ", "", "ScoringIndicatorsTypes", null, null) |
    @Html.ActionLink("Պարամետրեր", "", "ScoringParameters", null, null) |

    @Html.ActionLink("Ցուցիչներ-Պարամետրեր", "", "ScoringIndicatorsParameters", null, null)
 
</p>